@import '../../../styles/_vars';

.column-section {
  &__text {
    display: grid;
    margin-top: $gutter;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter-large;
  }
  &__button {
    margin-top: $gutter;
    display: flex;
    justify-content: center;
  }
}
