@import '../../styles/_vars';

.quand-consulter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: $gutter-large;
  margin-bottom: $gutter-large;
  img {
    width: 100%;
    object-fit: cover;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $gutter-large;
    h2 {
      margin-bottom: $gutter;
    }
    .button {
      margin-top: $gutter;
    }
  }
}
