@import '../../../styles/_vars';

.blog {
  margin-top: $gutter-large;
  margin-bottom: $gutter-large;
  &__articles {
    margin-top: $gutter-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
