@import '../../../styles/_vars';

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

.splitted-section {
  width: 100%;
  position: relative;
  &--alt-color {
    background-color: $color-main;
    padding: $gutter-large 0;
    margin-bottom: 0;
    .splitted-section__grid {
      box-shadow: $shadow-dark;
    }
    .splitted-section__text {
      padding: $gutter-large;
    }
  }
  &__grid {
    width: 80%;
    margin: auto;
    background-color: $color-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &--reverse {
      .splitted-section__text {
        order: 2;
        padding-right: 0;
        padding-left: $gutter-large;
      }
      .splitted-section__image {
        order: 1;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $gutter-large;
    padding-left: 0;
    h2 {
      margin-bottom: $gutter;
    }
    .button {
      margin-top: $gutter;
    }
  }
  &__image {
    position: relative;
    padding-top: 100%;
    img {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &--rounded {
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &__flower {
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateX(25%);
    width: 12%;
    height: auto;
    z-index: 1;
  }
}
