@import '../../../styles/_vars';

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__card-wrapper {
    background: url('http://localhost:3000/img/flower-card.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2*$gutter-large;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    box-shadow: $shadow-dark;
    padding: $gutter $gutter-large;
    border-radius: $radius;
    width: max-content;
    margin: 0 auto;
    a {
      display: inline-block;
      height: 30px;
      margin: $gutter/2;
      margin-bottom: 0;
    }
    img {
      height: 30px;
      width: 30px;
    }
    p {
      text-align: center;
      font-weight: bold;
      color: $color-main;
      line-height: 1em;
        margin: $gutter/2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__map {
    padding: $gutter;
    padding-right: 0;
  }
}
