// Colors
$color-main: #a184b7;
$color-dark: #241052;
$color-white: #fff;
$color-grey: #6e6e6e;
$color-accent: #ad224a;
$color-overlay: #9962192e;
$color-button: #634b7f;
$color-title: #a184b7;

// Shadows
$shadow-light: 2px 2px 18px #80634b7f;
$shadow-dark: 2px 2px 18px #B3634b7f;

// Gutters
$gutter: 30px;
$gutter-large: 50px;
$margin: 10%;
