@import '../../styles/_vars';

.App {
  overflow: hidden;
  height: 100vh;
  &__content {
    margin-top: 7.6rem;
    perspective: 1px;
    height: calc(100vh - 7.6rem);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: $breakpoint) {
  .App__content {
    margin-top: 6rem;
    height: calc(100vh - 6rem);
  }
}
