@import '../../../styles/_vars';

.introduction {
  margin: $gutter-large $margin;
}

@media(max-width: $breakpoint) {
  .introduction {
    margin: $gutter $margin;
    h1 {
      margin-bottom: $gutter;
    }
  }
}
