@import '../../../styles/_vars';

.header__navbar {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 0 $margin;
  #logo {
    width: 150px;
  }
  span {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    a {
      height: 2em;
      display: flex;
      align-items: center;
      &:hover {
        color: $color-accent;
        .chevron {
          fill: $color-accent;
        }
      }
      svg {
        margin-left: .5em;
      }
    }
    .chevron {
      fill: $color-grey;
    }
  }
  .header__spacing {
    flex: 1;
  }
  .dropdown {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid $color-accent;
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    width: max-content;
    box-shadow: $shadow-dark;
    span {
      margin: 2em 3em 0 3em;
      &:last-child {
        margin-bottom: 2em;
      }
    }
  }
};
