@import '../../styles/_vars';

.banner {
  width: 100%;
  height: calc(100vh - 112px);
  background-image: url('../../img/banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 $margin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    text-shadow: 2px 2px 12px #000;
  }
}
