@import '../../../styles/_vars';

.temoignages {
  width: 100%;
  padding: $gutter-large 0;
  position: relative;
  &__background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    &--image {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transform: translateZ(-.5px) scale(2);
    }
  }
  &__text {
    width: 80%;
    margin: auto;
    position: relative;
    padding: $gutter-large;
    background-color: $color-overlay;
    h2 {
      margin-bottom: $gutter;
    }
  }
  &__quote {
    position: absolute;
    top: $gutter;
    left: $gutter;
    width: 6rem;
    height: auto;
  }
  &__paragraph {
    color: $color-white;
    font-weight: bold;
    min-width: 600px;
  }
  &__carousel {
    min-width: 600px;
  }
  .slick-dots {
    display: flex !important;
    margin-top: $gutter;
    justify-content: flex-end;
    .slick-active {
      div {
        background-color: $color-white;
      }
    }
  }
  .slick-list {
    margin-left: -$gutter-large;
    margin-right: -$gutter-large;
  }
  .slick-slide>div {padding: 0 $gutter-large;}
}

@media(max-width: $breakpoint) {
  .temoignages {
    padding: $gutter;
    &__text {
      padding: $gutter;
      width: 100%;
    }
    &__quote {
      top: $gutter/4;
      left: $gutter/4;
      width: 3rem;
    }
    &__paragraph {
      width: 100%;
      min-width: unset;
    }
    &__carousel {
      min-width: unset;
    }
    &__background {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      &--image {
        position: relative;
        width: 100%;
      }
    }
  }
}
